* {
    font-family: 'Merriweather', serif;
    padding: 15px;
}

body {
    background-color: lightblue;
}
p, ul, li{
  font-size: 22px;
}
h2{
  font-size: 25px;
}

#example1 {
  box-shadow: 5px 10px;
}

#example2 {
  box-shadow: 5px 10px #888888;
}


   p, ul, li {
       
        border: 20px yellow;
        padding: 10px;
        margin: 10px;

      }
      #example1 {
        box-shadow: 5px 10px;
      }
      
      #example2 {
        box-shadow: 5px 10px #888888;
      }
      .button {
        box-sizing: border-box;
        background-color: blueviolet;
        align-items: center;
        border: none;
        padding: 15px 32px;
        font-family: Arial;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 28px;
        box-shadow: 4px 4px #323030;
        flex: 1;
      }